<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kq.qh.dao.dataSource0.CollectDao">

	<select id="findSLxx" parameterType="String" resultType="CaseProcess">
		select ajbh,djzh,djlxdm as djlx1,slrxm as operator ,slsj as operatetime,ssxt as selfSystemid,xzqhdm as caseorgcode,djjgdm as operateorgcode,'受理' as processnode
 		,bdcdyh from VIEW_LCXXB t where to_char(slsj,'yyyy-mm-dd') = #{time,jdbcType=VARCHAR} 
 		and djlxdm is not null and slrxm is not null and slsj is not null
	</select>
	
	<select id="findHDxx" parameterType="String" resultType="CaseProcess">
		select ajbh,djzh,djlxdm as djlx1,hzrxm as operator ,hzsh as operatetime,ssxt as selfSystemid,xzqhdm as caseorgcode,djjgdm as operateorgcode,'核定' as processnode
	 	,bdcdyh from VIEW_LCXXB t where to_char(hzsh,'yyyy-mm-dd') = #{time,jdbcType=VARCHAR}
	 	 and djlxdm is not null and hzsh is not null and hzrxm is not null
	</select>
	<select id="findSZxx" parameterType="String" resultType="CaseProcess">
		select ajbh,djzh,djlxdm as djlx1,szrxm as operator ,szsj as operatetime,ssxt as selfSystemid,xzqhdm as caseorgcode,djjgdm as operateorgcode,'缮证' as processnode
 		,bdcdyh from VIEW_LCXXB t where to_char(szsj,'yyyy-mm-dd') = #{time,jdbcType=VARCHAR}
 		 and djlxdm is not null and szsj is not null and szrxm is not null
	</select>
	<select id="findFZxx" parameterType="String" resultType="CaseProcess">
		select ajbh,djzh,djlxdm as djlx1,fzrxm as operator ,fzsj as operatetime,ssxt as selfSystemid,xzqhdm as caseorgcode,djjgdm as operateorgcode,'发证' as processnode
 		,bdcdyh from VIEW_LCXXB t where to_char(fzsj,'yyyy-mm-dd') = #{time,jdbcType=VARCHAR}
 		 and djlxdm is not null and fzsj is not null and fzrxm is not null
	</select>
	<select id="findTAxx" parameterType="String" resultType="CaseProcess">
		select ajbh,djzh,djlxdm as djlx1,tarxm as operator ,tasj as operatetime,ssxt as selfSystemid,xzqhdm as caseorgcode,djjgdm as operateorgcode,'退案' as processnode
 		,bdcdyh from VIEW_LCXXB t where to_char(tasj,'yyyy-mm-dd') = #{time,jdbcType=VARCHAR}
 		and djlxdm is not null and tasj is not null and tarxm is not null
	</select>
</mapper>