<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kq.qh.dao.dataSource0.DictDao">
	<select id="findEntityList" parameterType="String" resultType="Dict">
		select nameEN,nameCN,value from BDC_COMMON_DICTDETAIL where groupName = #{groupName,jdbcType=VARCHAR}
	</select>
</mapper>