<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kq.qh.dao.dataSource0.OperationDao">
	<select id="findEntityList" parameterType="List" resultType="Operation">
		select * from bdc_qh_operation o 
	</select>
	
</mapper>